@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 150px;
  background-color: white;
  position: sticky;
  top: 0px;
}

.logo {
  width: 20%;
  height: 30px;
  color: #2C3454;
  font-size: 1.5rem;
  font-weight: bold;
}
.logo span {
  border-radius: 2px;
  background-color: #2C3454;
  color: #fff;
  padding: 0px 5px;
  text-decoration: underline;
}

.navlist {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  padding: 0px 0px;
  width: 80%;
}
.navlist ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 0px;
  list-style-type: none;
  color: #707896;
}
.navlist li {
  margin: 0px 20px;
  font-size: 14px;
}
.navlist :nth-child(7) {
  color: #1F99FA;
  font-weight: 600;
  margin: 0px 30px;
  font-size: 16px;
}
.navlist :nth-child(7):before {
  content: "";
  border-left: 2px solid #707896;
  margin-right: 30px;
}
.navlist button {
  background-color: #1F99FA;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 1rem;
}

main section {
  width: 100vw;
  padding: 50px 150px;
  text-align: center;
}
main p {
  color: #5D6586;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
main h2 {
  color: #243E8E;
  font-size: 40px;
  line-height: 49px;
  font-weight: bolder;
  margin-bottom: 50px;
}
main button {
  background-color: #1F99FA;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
}
main .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px 0px;
  padding-top: 50px;
}

.sec-1 {
  margin-top: 50px;
}
.sec-1 .signup {
  display: inline;
}
.sec-1 span {
  color: #1F99FA;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #1F99FA;
  padding: 18px 20px;
  border-radius: 5px;
}
.sec-1 button {
  background-color: #1F99FA;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 20px 30px !important;
  margin-left: -10px;
  font-size: 18px;
}
.sec-1 img {
  width: 100%;
}

.sec-2 img {
  height: 60px;
}
.sec-2 .col-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0px 100px;
  width: 390px;
  height: 250px;
  background: transparent linear-gradient(179deg, #FFFEFF 0%, #F0F6FC 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  margin: 10px;
}
.sec-2 h3 {
  font-size: 24px;
  line-height: 29px;
  color: #243E8E;
}
.sec-2 p {
  font-size: 16px;
  line-height: 22px;
}
.sec-2 .row h2 {
  color: #C1D4EF;
}

.sec-4 table {
  width: 100%;
  box-shadow: 2px 2px 20px lightgrey;
}
.sec-4 table, .sec-4 td, .sec-4 tr, .sec-4 th {
  border: 2px solid #ADBFD8;
  border-collapse: collapse;
}
.sec-4 td, .sec-4 th {
  padding: 15px !important;
}
.sec-4 td {
  font-size: 18px;
  font-weight: 600 !important;
  color: #707896;
}
.sec-4 th {
  font-size: 24px;
  line-height: 29px;
  color: #243E8E;
  font-weight: 600 !important;
}
.sec-4 tr:nth-child(even) {
  background-color: #fff;
}
.sec-4 tr:nth-child(odd) {
  background-color: #F8FBFC;
}
.sec-4 table th:first-child, .sec-4 tr td:first-child {
  text-align: left !important;
  padding-left: 30px !important;
}
.sec-4 table th:nth-child(2) {
  background-color: #243E8E;
  color: white;
}
.sec-4 .bi-check-circle {
  color: seagreen;
}
.sec-4 .bi-x-circle {
  color: red;
}
.sec-4 i {
  font-size: 25px;
}
.sec-4 table tr:nth-child(2), .sec-4 tr td:nth-child(2) {
  border-left: 2px solid #243E8E !important;
  border-right: 2px solid #243E8E !important;
}

.sec-5 .row {
  justify-content: space-evenly;
  background-image: url(/assets/bg.svg);
  background-size: 20%;
  background-repeat: repeat-x;
  background-position: -30%;
}
.sec-5 .box {
  width: 320px;
  height: 430px;
  box-shadow: 2px 2px 20px lightgrey;
  background-color: white;
  border-radius: 5px;
}
.sec-5 h3 {
  font-size: 22px;
  background-color: #F8FBFC;
  padding: 20px;
  width: 100%;
  color: #1F99FA;
}
.sec-5 p {
  font-size: 16px;
  line-height: 22px;
}
.sec-5 .box .box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px;
  height: 350px;
  padding: 20px 30px !important;
}
.sec-5 span {
  font-size: 44px;
  color: #1F99FA;
}
.sec-5 h4 {
  font-size: 22px;
  color: #1F99FA;
}
.sec-5 button {
  background-color: transparent;
  border: 2px solid #1F99FA;
  color: #1F99FA;
  border-radius: 5px;
  padding: 10px 30px;
}
.sec-5 .box:nth-child(2) h3, .sec-5 .box:nth-child(2) button {
  background-color: #243E8E;
  color: white;
}
.sec-5 .box:nth-child(2) button, .sec-5 .box:nth-child(2) {
  border: 2px solid #243E8E;
}

.sec-3 .row {
  margin-bottom: 50px;
}
.sec-3 .sec-3-1 {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  padding: 0px 0px;
}
.sec-3 div {
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  color: #707896;
  font-weight: 500;
}
.sec-3 span {
  font-size: 60px;
  color: #DEE7F4;
  font-weight: bolder;
  margin-right: 40px;
}
.sec-3 .sec-3-2 {
  width: 50%;
}
.sec-3 img {
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec-3 .sub-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 0px 0px;
}
.sec-3 div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 0px 0px;
}
.sec-3 #active span, .sec-3 #active div {
  color: #243E8E !important;
  font-weight: 600;
}

footer {
  width: 100%;
  height: auto;
  padding: 50px 50px 0px 50px;
  background-color: #243E8E;
  color: #DBDBDB;
  font-size: 16px;
  line-height: 22px;
}
footer a {
  color: #DBDBDB;
  text-decoration: none;
}
footer .footer-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  padding: 0px 0px;
}
footer .bottom-bar {
  text-align: center;
  padding: 50px 0px 0px 0px;
  color: #999999;
  font-size: 14px;
}
footer h4, footer .footer-row a {
  margin-bottom: 20px !important;
}
footer .sm {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  padding: 0px 0px;
  font-size: 30px;
}
footer .logo span {
  background-color: white;
  color: #2C3454;
  font-size: 60px;
}/*# sourceMappingURL=style.css.map */